<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Welcome, {{ . }} </h2>
    <p>NOTE: you must be logged in to proceed.If you are not done yet please
        <a href="http://localhost:8080/login">login</a>
    </p>
    <a href="/account/open">Open a bank account</a>
    <a href="/account/info/{{.IIN}}/local">Proceed with account</a>
</body>

</html>