<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Account</title>
</head>

<body>
    <div class="open-container">
        <a href="/account/">back</a>
        <section class="open" id="open">
            <header>
                <h2>Open bank account</h2>
            </header>
            <form class="open-form" action="open" method="post">
                <label for="iin">Please enter your IIN:</label> <br>
                <input type="text" class="open-input" name="iin" placeholder="IIN" required autofocus/><br>
                <div class="submit-container">
                    <button type="submit" class="open-button">Open account</button>
                </div>
            </form>
        </section>
    </div>
</body>

</html>